.Post {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%, rgba(4, 119, 194, 1) 51%, rgba(0, 212, 255, 1) 100%);
}

#Animate {
  position: relative;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: rightmove;
}

@keyframes rightmove {
  0% {
    left: -20%;
  }
  25% {
    left: 0%;
  }
}

#Animate2 {
  position: relative;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: leftmove;
}

@keyframes leftmove {
  0% {
    left: 1%;
  }
  100% {
    left: 50%;
  }
}

#image2 {
  position: relative;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: leftwardsMove;
}

@keyframes leftwardsMove {
  0% {
    left: -20%;
  }
  25% {
    left: 0%;
  }
}